.navbar-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
  }
  
.navbar-nav .nav-item .nav-link:hover {
  color: #7775ff; 
}
  