<div class="pt-4">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><span class="fw-bolder">Email</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">No lo compartiremos con nadie mas.</div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><span class="fw-bolder">Escribenos</span></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button type="button" class="btn btn-primary">Enviar</button>
    </form>
</div>